{% extends '@Project/base.html.twig' %}


{% block main %}
    <main id="main" class="main">

        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Afficher les client</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">List des client</h5>
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">CIN</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for client in clients %}

                                        <tr>
                                            <td>{{ client.firstName }}</td>
                                            <td>{{ client.lastName }}</td>
                                            <td>{{ client.email }}</td>
                                            <td>{{ client.cin }}</td>
                                            <td>
                                                <a title="Supprimer" data-toggle="tooltip" href="#" onclick="deleteClient({{ client.id }})"> <i style="color: red" class="ri-delete-bin-3-line m-2"> </i></a>
                                                <a title="Modifier" data-toggle="tooltip" href="{{ path('client_edit',{'id':client.id }) }}"> <i class="ri-mark-pen-line"> </i></a>
                                                <a title="Voir reservation" data-toggle="tooltip" href="{{ path('client_reservation',{'id':client.id }) }}"> <i  style="color: #0a0a11" class="ri-calendar-2-fill"> </i></a>
                                            </td>
                                        </tr>


                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}