{%extends '@Home/Home/master.html.twig'%}

{% block  main %}

  <div class="hero" style="background-image: url('{{ asset('assets/css/front/images/hero_1_a.jpg') }}');"> 
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10">

          <div class="row mb-5">
            <div class="col-lg-7 intro">
              <h1><strong>Louer une voiture</strong> est au bout de vos doigts.</h1>
            </div>
          </div>

          {# Search section #}
          <form class="trip-form">

            <div class="row align-items-center">

              <div class="mb-3 mb-md-0 col-md-9">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="hidden" class="form-control"  id="reservation-home">
                  </div>
                  <div class="col-2">
                    <input readonly class="form-control daysNumber"/>
                  </div>
                  <div class="col-2 mt-2">
                    <span>Jour(s)</span>
                  </div>
                </div>
              </div>
              <div class="mb-3 mb-md-0 col-md-3">
                <input type="button" value="Rechercher" class="btn btn-primary btn-block py-3" id="search">
              </div>
            </div>

          </form>

          <div class="cars_listing_result"></div>

        </div>
      </div>
    </div>
  </div>
  
  <div class="site-section">
    <div class="container">
      <h2 class="section-heading"><strong>Comment ça fonctionne?</strong></h2>
      <p class="mb-5">Étapes faciles pour démarrer.</p>    

      <div class="row mb-5">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="step">
            <span>1</span>
            <div class="step-inner">
              <span class="number text-primary">01.</span>
              <h3>Sélectionnez une voiture</h3>
              <p>Sélectionnez votre véhicule préférer.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="step">
            <span>2</span>
            <div class="step-inner">
              <span class="number text-primary">02.</span>
              <h3>Remplir le formulaire</h3>
              <p>Entrez vos coordonnées.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="step">
            <span>3</span>
            <div class="step-inner">
              <span class="number text-primary">03.</span>
              <h3>Paiement</h3>
              <p>Payer en tout sécurité.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
  <div class="site-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 text-center order-lg-2">
          <div class="img-wrap-1 mb-5">
            <img src="{{ asset('assets/css/front/images/feature_01.png') }}" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-4 ml-auto order-lg-1">
          <h3 class="mb-4 section-heading"><strong>La location de voiture au Maroc n'a jamais été plus simple</strong></h3>
          <p class="mb-5">Si vous êtes à la recherche d’une expérience de location voiture Maroc unique, fluide et mémorable, ne cherchez plus loin ! ReCar est fait pour vous. Notre expertise vous fera revivre les villes du Maroc comme vous l’avez jamais fait. Notre omniprésence sur le territoire marocain vous assure une flexibilité incomparable. Où que vous soyez, nous ne sommes jamais loin.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="section-heading"><strong>NOS VEHICULES</strong></h2>
          <p class="mb-5">Nous nous disposons d’une large gamme de véhicules s'étendant des voitures compactes aux voitures de luxe.</p>    
        </div>
      </div>
      <div class="row">
        {% for car in cars  %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="{{ asset('uploads/recar/car/images/' ~ car.imageName) }}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>{{ car.name }}</h3>
                <div class="rent-price">
                  <strong>$389.00</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 borderdoor-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">{{ car.door }}</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Réserver</a></p>
                </div>
              </div>

            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="section-heading"><strong>NOS SERVICES</strong></h2>
          <p class="mb-5">Découver les services de votre agence ReCar.</p>    
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-home"></span>
            </span>
            <div class="service-1-contents">
              <h3>Votre Assistance</h3>
              <p>Nous sommes toujours disponibles pour nos clients pour toutes les difficultés rencontrées. Nous avons une hotline pour les urgences.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-gear"></span>
            </span>
            <div class="service-1-contents">
              <h3>Votre Assurance</h3>
              <p>Vous voulez être couvert la prochaine fois que vous louez une voiture ? Nous pouvons vous aider à comprendre vos besoins en assurance.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-watch_later"></span>
            </span>
            <div class="service-1-contents">
              <h3>Votre Réservation</h3>
              <p>Transparence des prix. Annulation gratuite jusqu'au moment de la location. Réservez simplement votre voiture via notre moteur de réservation en ligne.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}