{%extends '@Home/Home/master.html.twig'%}

{% block  main %}
  <div class="hero inner-page" style="background-image: url('{{ asset('assets/css/front/images/hero_1_a.jpg') }}');">
    <div class="container">
      <div class="row align-items-end ">
        <div class="col-lg-5">
          <div class="intro">
            <h1><strong>Parc</strong></h1>
            <div class="custom-breadcrumbs">
              <a href="{{ path('home') }}">Accueil</a> <span class="mx-2">/</span> 
              <strong>Store</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="section-heading"><strong>Notre parc</strong></h2>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>    
        </div>
      </div>
      <div class="row">
        {% for car in cars  %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="{{ asset('/uploads/recar/car/images/'~car.imageName) }}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>{{ car.name }}</h3>
                <div class="rent-price">
                  <strong>$389.00</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 borderdoor-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">{{ car.door }}</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Réserver</a></p>
                </div>
              </div>

            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-5">
          <div class="custom-pagination">
            <div class="text-center">{{ knp_pagination_render(cars) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>   
{% endblock %}