{%extends '@Project/base.html.twig'%}

{% form_theme form '@Project/Form/fields.html.twig' %}


{% block  main %}

    <!-- ======= Main ======= -->
    <main id="main" class="main">

        <div class="pagetitle">

            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index_page') }}">Home</a></li>
                    <li class="breadcrumb-item">Gestion de voiture</li>
                    <li class="breadcrumb-item active">Modifier une voiture</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-10">


                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Modifier une voiture </h5>

                            {{ form_start(form) }}
                                {{ form_row(form.name) }}
                                {{ form_row(form.matriclue) }}
                                {{ form_row(form.seat,{'attr':{ 'pattern' : "\\d+" }}) }}
                                {{ form_row(form.door) }}
                                {{ form_row(form.transmission) }}
                                {{ form_row(form.fuel) }}
                                {{ form_row(form.air_conditioner) }}
                                {{ form_row(form.imageName) }}
                                {{ form_row(form.type) }}
                                {{ form_row(form.passenger) }}
                                {{ form_row(form.rentAmount) }}
                                {{ form_row(form.caution) }}
                                {{ form_row(form.insurance_date) }}
                                {{ form_row(form.save) }}
                            {{ form_end(form) }}

                        </div>
                    </div>

                </div>


            </div>
        </section>

    </main><!-- End #main -->


{% endblock %}
